.SuperContainer{
    margin-top: 3%;
    position:absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.ContactContainer{
    padding-top: 1%;
    height: 65vh;
    width: 30vw;
    background-color: white;
    box-shadow: 0px 0px 30px rgb(190, 190, 190);
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fullnamecontainer {
    width:13vw;
    height: 6vh;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(218, 187, 187);
}
.emailContainer {
    width:28.5vw;
    height: 7vh;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(218, 187, 187);
}

.NameContainer{
    width: 30vw;
    height: 10vh;
    display: flex;
    gap: 2vw;
    align-items: center;
    flex-direction: row;
}

.NameContainer input{
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    /* margin-left: 5%; */
    color: #161c22;
}

input:focus,
textarea:focus {
    outline: none; /* Remove default outline */
    border: 2px solid #161c22; /* Add custom border */
    /* transition: 0.5s; */
    background-color: white;
    /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); Optional: Add a shadow effect */
}

.textareaContainer{
    resize: none;
    width: 28.5vw;
    height: 20vh;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(218, 187, 187);
}
.something{
    display: flex;
    flex-direction: column;
}

.buttonDiv{
    width: 29vw;
    margin-left: 2%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10vw;
    align-items: center;
    /* background-color: black; */
    /* margin: 5%; */
}
.button{
    background-color: rgb(0, 255, 234);
    border: 1px solid rgb(0, 217, 255);
    font-weight: 600;
}

.textSuccessful{
    font-weight: bolder;
    color: rgb(0, 190, 0);
}

.button:hover{
    border: 1px solid black;
    transition: 0.25s;
    color: white;
    background-color: #000000;
}

.hidden{
    display: none;
}

.block{
    display: block;
}

.leftSide{
    margin-right: 5%;
    width: 55vw;
    height: 80vh;
    /* background-color: blue; */
}

.Heading{
    background-color: pink;
    border-bottom: 2px solid grey;
    font-size: 4em;
    width: 30vw;
    height: 10vh;
}

.greeting{
    width: 30vw;
    height: 8vh;
    font-size: 1.8em;
    color:white;
    background-color: blue;
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding: 1%;
    margin-left: 25%;
}

.comfortaa-font{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}
  
.quote{
    padding: 1%;
    font-size: 2em;
    height: 20vh;
    width: 50vw;
    margin-left: 5%;
    background-color: beige;    
}

