.navbar {
    margin-right: 50%;
    height: 5vh;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3vw;
    flex-direction: row;
    /* background-color: bisque; */
}

.nav-item{

    margin-left:  2%;
}
.nav-item a {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(161, 161, 161);
    text-decoration: none;
    position: relative;
}

.nav-item a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(224, 224, 216);
    transition: width 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -2px;
}

.nav-item a:hover{
    transition: 0.3s;
    color: aliceblue;
}
.nav-item a:hover::after {
    width: 100%;
}

.MainDiv{
    width: 95vw;
    margin-left: 3%;
    gap: 45vw;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}

.name{
    color: Red;
    font-weight: bold;
    font-size: 2em;
}