.Conntainer{
    z-index: 1;
    /* background-color: tomato; */
    position: relative;
    display: flex;
    width: 25vw;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    font-size: 2em;
    width: 4vw;
    height: 8vh;
    background-color: white;
    border-radius: 100% ;
    border: 2px solid black;
}

.icon:hover{
    transition: 0.5s;
    background-color: rgb(251, 255, 0);
}

.link{
    text-decoration: none;
    color: black;

}