.container{
    z-index: 1;
    position: relative;
    display: flex;
    width: 25vw;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon{
    margin: 2%;
    width: 4vw;
    height: 8vh;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100% ;
}

.icon:hover{
    transition: 0.5s;
    background-color: grey;
}