.typing-effect{
    /* background-color: aqua; */
    color: rgb(0, 0, 0);
    margin-left: 10%;
    width: 30vw;
    height: 10vw;
    font-size: 3em;
    
}
.antonio-typer {
    font-family: "Antonio", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  .caret {
    display: inline-block;
    vertical-align: middle;
    width: 2px; /* Adjust the width of the caret */
    height: 1em; /* Adjust the height of the caret */
    background-color: rgb(0, 0, 0); /* Change color as needed */
    animation: blink-caret 0.75s infinite; /* Blinking animation */
  }
  
  @keyframes blink-caret {
    from, to {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }